<!-- timeline.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Timeline</title>
</head>
<body>
    <div class="timeline-container">
    <h1>Active mission</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <img class="profile-image" src="/uploads/<%= user.image %>" alt="<%= user.name %>'s profile image">
                <h2><%= user.name %></h2>
                <p>Username: <%= user.username %></p>
                <p>Location: <%= user.location %></p>
                <p>Weapon: <%= user.weapon %></p>
                <p>Quest: <%= user.active_quest ? user.active_quest.description : 'None' %></p>
            </li>
        <% }) %>
    </ul>
</div>
</body>
</html>
